.checkbox-container .checkbox-label {
  margin-left: 14px;
  font-size: 14px;
}

.checkbox-container input[type="checkbox"]:checked {
  background: #6c757d
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
  border-color: #6c757d;
}

.checkbox-container input[type="checkbox"] {
  width: 15px !important;
  height: 15px !important;
  vertical-align: top;
  background-color: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  background-size: contain;
  border: 1px solid grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 9px;
}
